@import '../base/variables';

.footer-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 50px 100px;
    height: 100%;
    border-top: 1px solid #0000002B;
    :first-child{
        h3{
            font-weight: $font-weight-bolder;
            font-size: $font-size-xl;
            color: $primary-dark-color;
        }
        p{
            color: $primary-light-dark;
            font-size: $font-size-md;
        }
    }
    ul {
        li{
            font-weight: $font-weight-normal + 100;
            font-size: $font-size-md;
            margin-bottom: 15px;
        }
    }
    
    .copyright{
        position: absolute;
        bottom: 0;
        padding: 40px 0px;
    }
}

.footer-headings{
    margin-bottom: 40px;
    color: $primary-light-dark;
    font-size: $font-size-md;
}

form{
    display: flex;
    gap: 10px;
    input, button{
        border-bottom: 1px solid #000000;
    }
    input{
        color: $primary-light-dark;
    }
    button{
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
    }
}