@import '../base/variables';

.footer-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 50px 100px;
    height: 100%;
    border-top: 1px solid #0000002B;

    @media (max-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 25px 50px;
        :not(span){
            display: flex;
            gap: 30px;
            align-items: center;
            justify-items: center;

            .footer-headings{
                margin: 0px 0px 15px;
            }
        }
        :nth-child(4){
            .footer-headings{
                margin: 0;
            }
        }
    }
    :first-child{
        h3{
            font-weight: $font-weight-bolder;
            font-size: $font-size-xl;
            color: $primary-dark-color;
        }
        p{
            color: $primary-light-dark;
            font-size: $font-size-md;
        }
    }
    ul {
        li{
            font-weight: $font-weight-normal + 100;
            font-size: $font-size-md;
            margin-bottom: 15px;
        }
    }
}

.footer-headings{
    margin-bottom: 40px;
    color: $primary-light-dark;
    font-size: $font-size-md;
}

form{
    display: flex;
    gap: 10px;
    input, button{
        border-bottom: 1px solid #000000;
    }
    input{
        color: $primary-light-dark;
    }
    button{
        font-weight: $font-weight-normal;
        font-size: $font-size-sm;
    }
}

.footer-form-container{
    @media (max-width: $breakpoint-md) {
        display: flex;
        flex-direction: column;
    }
}