@import '../base/variables';

header{
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: $white-color;
  padding: 1.6rem 2rem;
  width: 100%;
  top: 0;
  z-index: 10;
  position: sticky;

  .nav{
    @media (max-width: $breakpoint-md) {
      display: none;
      position: absolute;
      width: 50%;
      height: 100vh;
      position: absolute;
      top: 92px;
      left: 0;
      background-color: $orange-color;

      ul{
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;

        li{
          color: $white-color;
          font-size: $font-size-md;
          font-weight: $font-weight-bold;
          
          &:hover{
            color: $white-color !important;
            border-bottom: none;
          }
        }
      }
    }
    &.open {
      display: flex;
      flex-direction: column;
      padding: 50px 50px;
      text-align: center;
      transition: 2000ms ease-in-out;
    }
  }
}

nav ul{
  display: flex;
  align-items: center;
  gap: 45px;
  li{
    font-family: $font-primary;
      font-size: $font-size-md;
      color: $primary-dark-color;
      font-weight: $font-weight-normal + 100;
      &:hover{
        color: $orange-color !important;
        border-bottom: 2px solid $orange-color;
      }
  }
}
.menu-toggle {
  display: none;
  height: 28px;
  width: 28px;
  transition: 1000ms;
  @media (max-width: $breakpoint-md) {
    display: block;
    cursor: pointer;
    z-index: 20;

    &.open-toggle{
          transform: rotate(90deg);
          transition: 1000ms;
      }
  }
}

.header-icons{
  display: flex;
  gap: 45px;
  height: 28px;

  @media (max-width: $breakpoint-md) {
    .not-in-mobile{
      display: none;
    }
  }
}

.not-in-desktop{
  display: none;
}